.movies{
  &__header{
    justify-content: space-between;
    align-items: center;
    padding: 1rem .5rem;
    background: rgb(34,193,195);
    background: linear-gradient(321deg, $primary-light-color 0%, $primary-dark-color 100%);
    border-bottom: 5px solid $primary-color;
    overflow: hidden;
    font-size: 1rem;
    @media screen and (max-width: 800px) {
      font-size: .5rem;
    }
  }
  &__header-right{
    align-items: center;
  }
  &__header-item{
    margin: 0 .5em ;
  }

  &__logo{
    font-size: 4em;
    font-family: $logo-font;


  }
  &__search-box{
    background-color: $primary-dark-color;
    color: $secondary-alt2-color;
    font-size: 1.2em;
    text-align: center;
    border-radius: 5px;
    width: 40%;

    &:focus{
      outline: none;
      color: $secondary-alt1-color;
      background-color: $primary-color;
      border: 2px solid $secondary-alt1-color;
    }
  }
  &__user{
    color: $primary-dark-color;
    font-size: 2em;
    font-weight: 600;
    background-color: $secondary-alt2-color;
    border-radius: 50%;
    padding: 0.5em;
    text-align: center;
    &:hover{
      background-color: $secondary-alt1-color;
    }
  }

  &__button-logout {
    font-size: 1em;
    background-color: $secondary-alt2-color;
    transition: .3s;
    font-weight: 600;
    color: $primary-dark-color;
    padding: .5em 1em;

    &:hover {
      background-color: $secondary-alt1-color;

    }
  }
}