@import "reset";
@import "form";
@import "colors";
@import "movies";

*{
  box-sizing: border-box;
}
body{
  color: $secondary-color;
  background-color: $primary-color;
  height: 100vh;
}
.row{
  display: flex;
}
.col{
  display: flex;
  flex-direction: column;
}

