$primary-color: #333;
$primary-light-color: #555;
$primary-dark-color: #000;
$secondary-color: #ecc19c;
$secondary-alt1-color: #ff7961;
$secondary-alt2-color: #1e847f;
$text-color: #eee;
$error-color:#f00;
$warning-color:#f90;
$approve-color:#0f0;
